#navigation-bar {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: min-content;
    margin-top: 0;
}

#title {
    display: flex;
    font-weight: bold;
    font-family: cursive;
    height: min-content;
    margin-top: 0;
    background: linear-gradient(90deg, rgb(23, 113, 203) 0%, rgb(253, 66, 45) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navigation {
    height: min-content;
    margin-top: 0;
}

#navigation>a {
    text-decoration: none;
    padding: 8px;
}

#navigation:hover {
    color: yellow;
}

header {
    border-bottom: 2px solid black;
    margin-bottom: 3px;
  }

/* input section */

.input-section {
    display: flex;
    flex-direction: column;
}

#tempt {
    outline: none;
    border-radius: 5px;
    border: solid black;
    padding: 8px 8px;
}

#tempt:focus {
    border: solid rgb(16, 118, 243);
}

label {
    color: rgb(51, 118, 177);
    padding: 4px;
}

#convert-button {
    background-color: lightseagreen;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 5px;
}

#convert-button:hover {
    background-color: rgb(23, 131, 125);
}

#convert-button:active {
    background-color: green;
    transform: translateY(1px);
}

#reset-button {
    background-color: rgb(230, 98, 98);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 5px;
}

#reset-button:hover {
    background-color: rgb(167, 71, 71);
}

#reset-button:active {
    background-color: rgb(114, 31, 31);
    transform: translateY(1px);
}


/* form-group */

.form-group {
    display: flex;
    flex-direction: column;
}

#unit {
    color: rgb(0, 0, 0);
    padding: 8px 8px;
    margin-top: 1px;
}

#label {
    color: rgb(199, 112, 112);
}

/* formula */

.formula {
    margin-top: 5px;
    border-radius: 10px;
    border: solid black ;
    padding: 8px 16px;    
    font-size: ;
}

#C-F {
    flex-direction: column;
    font-weight: bold;
}

#F-C {
    flex-direction: column;
    font-weight: bold;
}

/* result */
#out {
    margin-top: 3px;
    font-weight: bold;
}